@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  background-color: #2F3038;
  color: white;

  /* border: 5px solid rgb(45, 0, 128); */

}

/* Container principale */

div.container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 150px;
  
  margin-top: 25vh;
  /* border: 5px solid green; */
}

/* Premiere section en dessous du header et a gauche */

section.leftside{
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-width: 40%;
  margin-left: 10%;
  /* border: 5px solid rgb(107, 128, 0); */
  /* box-sizing: content-box; */
}

/* le gros titre dans cette section */

h1{
  font-size: 2.5em;
  font-weight: 100;
  word-spacing: 26px;
  letter-spacing: 7px;
}

/* La navigation avec les petites icones */

section.leftside div{
  display: flex;
  flex-direction: row;
  gap: 18%;

  align-content: stretch;
}

/* les liens dans cette navigation au dessus */

section.leftside a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #202027;
  width: 10%;
  height: 10vh;
}

/* les icones dans la div de navigation */

section.leftside div img{
  width: 45px;
  aspect-ratio: 1;
}

p{
  letter-spacing: 3px;
}


/* la section 2 a droite et directement en dessous du header  */

section.rightside{
  display: flex;
  flex-direction: column;
  /* justify-content:center; */
  /* align-items:start; */
  min-width: 30%;
  /* border: 5px solid rgb(128, 0, 105); */

}


/* les images contenues dans la section rightside */

section.rightside img{
  width: 22%;
  aspect-ratio: 1; 
}

div#footer{
  margin-top: 18vh;
}
/* les images un a un pour la position

img.position1{
  position: relative;
  margin-left: 15%;
  margin-bottom: 26vh;
}

img.position2{
  position: relative;
  margin-left: -1%;
  margin-bottom: 26vh;
}

img.position3{
position: relative;
margin-left: -20%;
margin-bottom: 13vh;
}

img.position4{
  position: relative;
  margin-left: -1%;
  margin-bottom: 13vh;
} */


/* resolution des problemes
1. les photos en position stable 👍
2. le scrolling 
3. taille des sections left et right-side 👍
4. le background des <a> du header 👍
*/

