@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  background-color: #2F3038;
  color: white;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
   
    
}
div.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-left: 60px;


}
div.logo img:first-child{
    width: 50px;
    margin-right: 10px;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin-right: 80px;
    gap: 30px;
}
a{
    color: white;
    font-size: 1em;
    text-decoration: none;
    text-decoration-line: none;
}