
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin: auto -1%;
    background-color: #202027;
}

ul.link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    align-items: center;
    list-style: none;
    margin-left: 60px;
}

ul.socialNet{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
    margin-right: 60px;
}

ul.socialNet img{
    /* margin-right: 10px; */
    width: 22%;
    aspect-ratio: 1;
    margin-right: 5px;
    margin-top: 5px;

}


